html {
  font-family: sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

.flex {
  display: flex;
}

.menu {
  justify-content: space-between;
  padding: 30px 15px;
}

.menu-items {
  font-size: 1.5rem;
  gap: 50px;
  align-items: center;
}

h1 {
  font-size: 7rem;
  font-weight: bolder;
  padding-block: 50px;
}

.jumbo-page {
  padding-inline: 20%;
  background: linear-gradient(#b4d0e6 80%, #fff 20%);
  border-bottom: darkgray solid 1px;
  padding-bottom: 100px;
}

.main-page {
  padding-inline: 25%;
}

.cards-container {
  gap: 50px;
}

.card {
  padding-inline: 40px;
  flex-direction: column;
  border: solid lightgray 1px;
  .button-primary {
    width: 100%;
    align-self: center;
  }
  h4 {
    padding-bottom: 30px;
  }
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-70 {
  flex-basis: 70%;
}

.jumbo-description {
  flex-direction: column;
  gap: 30px;
  font-size: 1.5rem;
  align-items: flex-start;
}

.img-jumbo {
  width: 70%;
}

.button-primary {
  background-color: #0061fe;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  font-size: 1.5rem;
}

.arrow-down {
  margin-top: 60px;
  width: 50px;
}

.top-card {
  margin-block: 50px;
}

h2 {
  font-size: 2rem;
}

.head-card {
  text-align: center;
  padding-block: 10px;
  border: solid lightslategray 1px;
}

.card-section {
  padding-block: 30px;
}

.card-section_text {
  padding-block: 10px;
}

.button-card {
  margin-block: 30px;
}

.card-end {
  padding-block: 50px;
  border: solid lightgray 1px;
}

.explanatory-block {
  flex-wrap: wrap;
  justify-content: space-between;
}

.explanatory-card {
  justify-content: center;
  flex-basis: 30%;
  padding-block: 30px;

  h3 {
    padding-block: 15px;
  }
}

.img-main {
  width: 100%;
}

.explanatory-img {
  width: 100%;
}

footer {
  color: white;
  background-color: #000000;
}

.footer {
  align-items: flex-start;
  justify-content: space-between;
}

.end-footer {
  border-top: solid #9b9b9b 2px;
  padding-bottom: 50px;
}
.padding-block-footer {
  padding-block: 50px;
}

.padding-inline-20 {
  padding-inline: 25%;
}

.padding-text-foot {
  padding-block: 50px;

  h3 {
    padding-bottom: 25px;
    font-weight: bolder;
  }

  p {
    padding-block: 10px;
  }
}
