html{
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.menu{
    justify-content: space-between;
    padding: 30px 15px;
}

.menu-items{
    gap: 50px;
}

.jumbo-page{
    padding-inline: 10%;
    background-color: #B4D0E6;
}

.main-page{
    padding-inline: 20%;
}

.cards-container{
    gap: 50px;
}

.card{
    padding-inline: 20px;
   
}
